/.docker/bash/.bash_history
/.docker/mysql/data/
/app
/bin
/dev
/generated
/lib
/phpserver
/pub
/setup
/pub
/var
/vendor
.editorconfig
.htaccess
.htaccess.sample
.php_cs.dist
.php_cs.dist
.user.ini
auth.json
auth.json.sample
CHANGELOG.md
composer.json
composer.lock
COPYING.txt
grunt-config.json.sample
Gruntfile.js.sample
index.php
LICENSE_AFL.txt
LICENSE.txt
nginx.conf.sample
package.json.sample
SECURITY.md
*.sql
*.zip
*.tar
*.tar.gz